name: Android CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
      - uses: gradle/gradle-build-action@v2.4.2
      - name: Chmod
        run: chmod 755 gradlew
      - name: Clean
        run: ./gradlew clean
      - name: Build
        run: ./gradlew app:assemble
      - name: Tree
        run: tree -ash \${{ github.workspace }}
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: ${{ github.workspace }}//app/build/outputs/apk/release/
